.App {
  width: 90%;
  margin: auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.error {
  color: red;
}
#printableArea {
  opacity: 0;
}
.disable_button {
  display: none;
  border: none;
}

.spacing {
  margin: -2px 10px;
  padding: 0 20px;
}
.test:hover {
  color: rgb(195, 218, 195);
  position: relative;
  box-shadow: 0px 0px 5px grey;
}
.cursor_pointer {
  cursor: pointer;
}

.test:hover > .disable_button {
  background-color: rgb(238, 236, 236);
  display: inline-block;
  position: absolute;
  right: 1px;
}
/* ---header--- */

.inner-menu p:hover {
  background-color: red;
  cursor: pointer;
}
li p:hover,
.dropdown:hover .dropbtn.inner-menu p:hover {
  background-color: red;
  cursor: pointer;
}
.dropdown-menu {
  display: none;
  margin-top: 0;
}
.dropdown .nav-link {
  cursor: pointer;
}
.dropdown:hover .dropdown-menu {
  display: block !important;
}
.navbar {
  padding-bottom: 0;
  background-color: #e3f2fd;
}
/* ----------header /----------------- */

.create_customer {
  text-align: left;
  width: 57%;
  margin-left: 40%;
}
.create_customer_without_label {
  margin-left: 15%;
  margin-bottom: 8px;
}
.create_customer label {
  width: 15%;
}
.create_customer span {
  margin-left: 15%;
}
.date_width {
  width: 160px;
}
/* #printableArea {
  position: relative;
} */
#print_button {
  position: absolute;
  transform: translate(56px, -1021px);
}
.search_input {
  margin-right: 15px;
  padding: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------loader--------------------- */
.loader {
  width: 15em;
  height: 15em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: gold;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: lime;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: "";
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em,
    0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
  to {
    transform: rotate(2turn);
  }
}
.bbody {
  margin: 0;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
/* ------------------ /loader ---------------- */

/* @media print {
  @page {
    margin: 0;
  }
  body {
    margin: 1cm;
  }

  #nonPrintableArea,
  #print_button {
    display: none;
  }
  #printableArea {
    display: inline-block;
  }

  
  .print_table {
    border: 1px solid black;
    width: 100%;
  }
  .print_heading,
  .print_address,
  .print_details {
    text-align: center;
  }
  .print_address,
  .print_details {
    margin: 0;
  }
  .print_details {
    border-bottom: 1px solid black;
  }

  .print_serviceMemo {
    text-align: center;
  }
  .print_original {
    text-align: right;
  }
  .print_customerDetails {
    border-top: 1px solid black;
    position: relative;
  }

  .print_productDetails,
  .print_productTitle,
  .print_subTotal,
  .print_gstno {
    border-top: 1px solid black;
  }

  .print_bold_font {
    font-weight: 600;
  }
  .print_MR {
    position: absolute;
    transform: translate(46px, -65px);
  }
  .print_productTitle_srno,
  .print_productTitle_productName,
  .print_productTitle_qty,
  .print_productTitle_rate,
  .print_productTitle_amount,
  .print_productDetails_srno,
  .print_productDetails_productName,
  .print_productDetails_qty,
  .print_productDetails_rate,
  .print_productDetails_amount,
  .print_subTotal_amount,
  .print_grandTotal {
    border-left: 1px solid black;
  }

  .print_bold_font {
    font-weight: bold;
  }
  .print_MR {
    position: absolute;
    transform: translate(40px, -62px);
  }
  .print_customer_address p {
    margin: 0;
  }
  .print_customer_address_position {
    position: absolute;
    transform: translate(40px, -62px);
    text-align: left;
  }
  .print_incoiceDetails p {
    text-align: left;
    margin: 0;
  }
  .print_customerDetails {
    height: 140px;
  }
  .print_incoiceDetails {
    width: 250px;
  }

  .print_incoiceDetails_date {
    position: absolute;
    transform: translate(10px, -50px);
  }
  .print_incoiceDetails_date span {
    margin-left: 20px;
  }
  .print_line {
    width: 100%;
    height: 49%;
    border-top: 2px dotted black;
    margin: 10px 0;
  }
} */

/* -----------------------new print-----------------*/
@media print {
  @page {
    margin: 0;
  }
  body {
    margin: 1cm;
  }

  #printableArea {
    opacity: 1;
  }
  #nonPrintableArea,
  #print_button {
    display: none;
  }
  .bold {
    font-weight: 500;
  }
  .remove_p_sapce {
    margin-bottom: 0;
  }
  .memo_part {
    display: flex;

    justify-content: space-between;
  }
  .address {
    display: flex;
  }
  .icon {
    width: 10%;
  }
  .address_part {
    width: 90%;
    text-align: center;
  }
  .address_title {
    font-size: large;
    font-weight: 600;
  }
  .time {
    font-weight: 600;
  }
  .grid-container {
    display: flex;
    margin-top: 20px;
  }
  .parentFor_item2,
  .parentFor_item5 {
    width: 50%;
    border: 1px solid black;
  }
  .parentFor_item2 {
    border-right: 0;
  }

  .parentFor_item3 {
    display: flex;
  }

  .item5 {
    height: 45px;
    text-align: left;
    padding-left: 10px;
  }
  .item3 {
    height: 100px;
    width: 65%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: left;
    padding-left: 10px;
  }
  .item4 {
    height: 100px;
    width: 35%;
    border-bottom: 1px solid black;
    text-align: left;
    padding-left: 10px;
  }

  .address {
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
  }

  .address_content {
    text-align: left;
    margin-left: 30px;
    word-wrap: break-word;
  }
  .product_info_container {
    margin-top: 5px;
  }
  .product_info_header,
  .product_info_body,
  .product_info_footer {
    display: flex;
  }
  .product_info_body p {
    margin-left: 10px;
  }
  .srno {
    width: 10%;
    border: 1px solid black;
    border-right: 0;
  }
  .disc {
    width: 40%;
    border: 1px solid black;
    border-right: 0;
  }
  .qty {
    width: 10%;
    border: 1px solid black;
    border-right: 0;
  }
  .units {
    width: 10%;
    border: 1px solid black;
    border-right: 0;
  }
  .decleration {
    width: 30%;
    border: 1px solid black;
    border-bottom: 0;
  }
  .product_info_body {
    height: 200px;
    text-align: left;
  }

  .srno_body {
    width: 10%;
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
  }
  .disc_body {
    width: 40%;
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
  }
  .qty_body {
    width: 10%;
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
  }
  .units_body {
    width: 10%;
    border: 1px solid black;
    border-top: 0;
    border-right: 0;
  }
  .decleration_body {
    width: 30%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }

  .srno_footer {
    width: 10%;
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
  }
  .disc_footer {
    width: 40%;
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
    text-align: right;
    padding-right: 10px;
  }
  .qty_footer {
    width: 10%;
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
    text-align: center;
  }
  .units_footer {
    width: 10%;
    border: 1px solid black;
    border-top: 0;
    border-right: 0;
  }
  .decleration_footer {
    width: 30%;
    border: 1px solid black;
    border-top: 0;
  }
  .signatory {
    margin-top: 80px;
    text-align: right;
    margin-right: 60px;
  }
}
/* -----------------------/new print----------------- */
